# Python
Python is developed by Guido van Rossum. Guido van Rossum started implementing Python in 1989. Python is an open source programming language so even if you are new to programming, you can learn python without facing any issues.

# What Can You Do with Python?

 There are so many applications of Python, here are some of the them.

1. Web development – Web framework like Django and Flask are based on Python. They help you write server side code which helps you manage database, write backend programming logic, mapping urls etc.


2. Machine learning – There are many machine learning applications written in Python. Machine learning is a way to write a logic so that a machine can learn and solve a particular problem on its own. For example, products recommendation in websites like Amazon, Flipkart, eBay etc. is a machine learning algorithm that recognises user’s interest. Face recognition and Voice recognition in your phone is another example of machine learning.


3. Data Analysis – Data analysis and data visualisation in form of charts can also be developed using Python.


4. Scripting – Scripting is writing small programs to automate simple tasks such as sending automated response emails etc. Such type of applications can also be written in Python programming language.


5. Game development – You can develop games using Python.


6. You can develop Embedded applications in Python.


7. Desktop applications – You can develop desktop application in Python using library like TKinter or QT.

# Our Focus 

1. Data Analysis 
2. Machine learning 
3. Scripting

# Table of content 

1. Variable Definition and  Operators 
2. Data types 
3. Basics Functions 
4. Introduction to python Libraries - Numpy and Pandas

## Variable Definition - INC rules:
1. names can ne alphanumeric
2. no special chars allowed except underscore
3. names can start only with chars or underscore
4. Dont use any keywords as the identifier names
5. No limit on the chars

## Operators


Assignment:                  =

Arithmatic:                  + - * / // % ** ()

Arithmatic + Assignment:     += -= *=...
    
Conditional: << output will be bool >>
    Single valued: != > >= < <= ==
    Multi valued | membership: in

Logical: 
        and/or : combine the bool outputs
        not : negation
            
        bitwise: & | -

## Control flow statements

Conditional Statements
    if elif... else
    ternary if
    
Loops
    while: 
        conditional loop
        entry controlled loop
        will execute for True conditions
        **
    for:
        ranged loop

In [8]:
# print if the number is positive or negative
num = 1

if num > 0:
    print('Positive')
else: 
    print('negative')
    
print('I am out of the if')

Positive
I am out of the if

In [2]:
# print if the number is positive or negative - ternary if
num = 10
print('positive' if num > 0 else 'negative')

positive

In [7]:
# print if the number is positive or negative or zero
num = 10

if num > 0:
    print('Positive')
    
    print('hdhhd')
elif num == 0:
    print('zero')
else: 
    print('negative')

Positive
hdhhd

In [4]:
# print if the number is positive or negative or zero - ternary if
num = 10
'zero' if num == 0 else 'negative' if num < 0 else 'positive'

'positive'

while condition/s:
    line1
    line2...
    
conditional loop
entry controlled loop
will execute for True conditions
** there should always be atleast one statement to make condition False

In [5]:
num = 1
while num < 10:
    print('i am inside the while loop')
    num += 1     # num = num + 1

i am inside the while loop
i am inside the while loop
i am inside the while loop
i am inside the while loop
i am inside the while loop
i am inside the while loop
i am inside the while loop
i am inside the while loop
i am inside the while loop

for varible in iterator:
    Line1
    Line2...
    
range() - function to generate range of numbers
------------------------------------------------
range( start, end, step )
range( start, end )  # step = 1
range( end ) # start = 0, step = 1

** in case step is +ve; from start till end - 1
** in case step is -ve; from start till end + 1

In [9]:
for i in range(0, 5, 1):
    print(i)

0
1
2
3
4

In [10]:
for i in range(11, 1, -1):
    print(i)

11
10
9
8
7
6
5
4
3
2

## Data Structure

How to store the data!

Python DS properties:
    1. Hetrogenous
    2. 1-Dimensional
    3. Broadcasting not possible

           create                 access
           --------               --------
tuple      () or no brackets      []
list       []                     []
dict       {}                     []
set        {}

1. How to create them
2. How to access the values/objects from ds << if possible >>
3. How to update the values in ds << if possible >>
4. How to perform mathematical operations or indexing on ds
5. What are different attributes and methods of ds or objects

tuple()
list()
dict()
set()

## List v/s Tupple

In [14]:
t1 = (10, 20, 30.5, 40, 50, 60, True, 'Python')

In [15]:
type(t1)

tuple

In [13]:
t1

(10, 20, 30.5, 40, 50, 60, True, 'Python')

In [16]:
l1 = [10, 20, 30.5, 40, 50, 60, True, 'Python']

In [17]:
type(l1)

list

In [1]:
l1

NameError: name 'l1' is not defined

In [19]:
l1[2]

30.5

In [20]:
t1[2]

30.5

In [21]:
# slicers: t1[ start : end : step ]
l1[::-1]

['Python', True, 60, 50, 40, 30.5, 20, 10]

In [22]:
t1[2:4]

(30.5, 40)

In [23]:
#Editing elements in list
l1

[10, 20, 30.5, 40, 50, 60, True, 'Python']

In [24]:
l1[2] = 99

In [25]:
l1

[10, 20, 99, 40, 50, 60, True, 'Python']

In [26]:
t1

(10, 20, 30.5, 40, 50, 60, True, 'Python')

In [27]:
#Editing tupples ???????
t1[2] = 100

TypeError: 'tuple' object does not support item assignment

In [28]:
# Editing multiple elemnets within a list 
l1

[10, 20, 99, 40, 50, 60, True, 'Python']

In [29]:
l1[1:4] = (1, 1, 1)

In [30]:
l1

[10, 1, 1, 1, 50, 60, True, 'Python']

In [31]:
id(l1)

2161723614088

In [32]:
l1[-1] = 'Py'

In [33]:
l1

[10, 1, 1, 1, 50, 60, True, 'Py']

In [34]:
id(l1)

2161723614088

In [35]:
t1

(10, 20, 30.5, 40, 50, 60, True, 'Python')

In [36]:
id(t1)

2161724453832

In [37]:
t1 = (10, 20, 30.5, 40, 50, 60, True, 'Py')

In [38]:
id(t1)

2161724455064

## Sets

In [39]:
s1 = { 10, 20, 30, 40, 50 }

In [40]:
type(s1)

set

In [41]:
s1[0]

TypeError: 'set' object is not subscriptable

In [42]:
s2 = { 10, 20, 30, 40, 50, 10, 20, -1, 50 }

In [43]:
s2

{-1, 10, 20, 30, 40, 50}

In [44]:
print(dir(s1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [45]:
s2.symmetric_difference_update(s1)

In [46]:
s2

{-1}

In [47]:
for i in s1:
    print(i)

40
10
50
20
30

## Dictionary     
### { key1 : val1, key2 : val2, ........}

In [48]:
d1 = { 1: 10, 2: 20, 3: 30, 4: 40}

In [49]:
d1

{1: 10, 2: 20, 3: 30, 4: 40}

In [50]:
type(d1)

dict

In [51]:
d1[3] = -30

In [52]:
d1

{1: 10, 2: 20, 3: -30, 4: 40}

In [53]:
print(dir(d1))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [54]:
d2 = { 1: 10, 2: 20, 3: 30, 4: 40, 2: 100 }

In [55]:
d2

{1: 10, 2: 100, 3: 30, 4: 40}

In [56]:
d2[2] = -99

In [57]:
d2

{1: 10, 2: -99, 3: 30, 4: 40}

In [58]:
d2[5] = 1000

In [59]:
d2

{1: 10, 2: -99, 3: 30, 4: 40, 5: 1000}

In [60]:
d3 = { 1: 10, 'Name': 'John', None: d1, False: True}

In [61]:
d3

{1: 10, 'Name': 'John', None: {1: 10, 2: 20, 3: -30, 4: 40}, False: True}

## Things you can/can't do with List

In [ ]:
l1 = [10, 20, 30, 40, 50]

In [ ]:
#Editing items in list
l1[1:4] = (1, 1, 1)

In [ ]:
l1

In [ ]:
#Editing item in list with iteration 
l1[1:4] = -1

In [ ]:
l3 = [1, 2, 3, 4, 5]

In [ ]:
# print the values after adding numebr 100 to the values in list l3
for i in range(len(l3)):
    print( l3[i] + 100 )

In [ ]:
for i in l3:   #[1, 2, -1, 4, 5]
    print( i + 100 )

In [ ]:
# not applicable; broadcasting is not possible
l3 + 100

In [ ]:
# update the values in l3 after adding numebr 100 to the values in list l3
l3 = [10, 20, 30, 40, 50]

for x in range(len(l3)):
    l3[x] += 100
print(l3)

In [ ]:
# create new list l4 after adding numebr 100 to the values in list l3
l3 = [10, 20, 30, 40, 50, 10]

l4 = []
for x in range(len(l3)):
    l4.append(l3[x] + 100)
print(l3)
print(l4)

In [ ]:
l3 = [10, 20, 30, 40, 50, 10]

l4 = []
for x in l3:
    l4.append(x + 100)
print(l3)
print(l4)

In [ ]:
# create a new list with numbers greater than 20 and less than 50
l3 = [10, 20, 30, 40, 50, 10]

l4 = []
for x in l3:
    if x > 20 and x < 50:
        l4.append(x)
        
print(l3)
print(l4)

In [ ]:
# create a new list with squares of numbers greater than 2 and less than 5
l3 = [1, 2, 3, 4, 5, 10]

l4 = []
for x in l3:
    if x > 2 and x < 5:
        l4.append(x ** 2)
        
print(l3)
print(l4)

## List comprehensions

In [ ]:
l1 = [1, 2, 3, 4, 5, 10]

In [ ]:
[x ** 2 for x in l1 if x > 2]

## Lambda functions

In [2]:
l1= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(map( lambda x: x + 100, l1 ))

[100, 101, 102, 103, 104, 105, 106, 107, 108, 109]

In [4]:
list(filter( lambda x: x if x > 5 else x ** 2, l1 ))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
Practice Questions:
    1. Create an empty list and then add {"aaa", "cs","better",1,and 1.30} in the list.
    2. Create dictionary with in another dictionary and also retreive 2 key element from it.
    3. Write a program using while and for to find factorial of a number
    4. Create a list and dictionary and iterate over them using for statement
    5. using If statement check whether or not the number is even or not